.footerContainer {
    background-color: #28374B;
    color: whitesmoke;
    max-width: 100%;
    padding: 20px 0;
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}
.kontaktText {
    width: 100%;
    align-items: flex-end;
    
    text-align: left;
    padding: 20px 0px 20px 30px;
    margin-bottom: 0px;
    
   
}
.logoDiv{
    background-color: #9ABDE8;
    margin-top: 0px;
}


.telKontaktAktiv a {
    display: flex;
    gap: 7px;
    align-self: flex-end;
    color: #FFFFFF;
    bottom: 20px;
    padding: 8px 15px;
    font-size: 29px;
    background-color: #4682B4;
    border-radius: 30px;
    cursor: pointer;
    
}
.telKontaktAktiv a:first-of-type{
    display: none;
}

.telKontaktAktiv a:last-child {
    font-size: 37px;
    text-decoration: none;
    position: fixed;
    z-index: 5;
    border:solid 1px black;
    font-weight: 450;
    padding: 7px 20px;
    letter-spacing: 0.8;
    right: 2%;
    bottom:1%
}
.napisNam{
    align-items: center;
}
.neaktiv{
    display: none;
}
.placeholder {
    height: 50px;
}
@media (max-width: 640px) {
    .footerContainer ,.t{
        flex-direction: column;
        align-items: center;

        width: 100vw;
    }
    .kontaktText{
        width: 80vw;
    }
}
