.menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style: none;

}
.menuItem a {
    color:#271f1f;
    text-decoration: none;
    margin:1.1vw;
    font-size: 1.7vw;
    font-weight: 599;
}
.activeMenuItem a {
    color:white
}


@media (max-width: 768px){
    .menu {
        display: none;
    }
}
